
.contact {
  flex: 0 0 25%; 
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px;
}
.titre{
  text-align: center;
  background-color: #625f5f;
  height: 50px;
}
.contact-image{
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover;
}